# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
/*.sln
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/

# FMOD files #
Assets/Plugins/FMOD/Resources/FMODStudioCache.asset
Assets/Plugins/FMOD/Resources/FMODStudioCache.asset.meta
Assets/StreamingAssets/**/*.bank
Assets/StreamingAssets/**/*.bank.meta
fmod_editor.log
Assets/Blair/VFX.meta
Assets/Caleigh/CameraPathCreator/Scripts.meta
Assets/Models/ChunkyBrokenWall/CameraPathCreator.meta
*.meta
*.meta
*.meta
*.meta
*.meta
